@import "vars";

@mixin col($column) {
  flex: 0 0 (100% / 12) * $column;
  max-width: (100% / 12) * $column;
}

@mixin offset($column) {
  margin-left: (100% / 12) * $column;
}

@mixin ml($column) {
  margin-right: (100% / 12) * $column;
}

._container {
  width: 100%;
  margin: 0 auto;
  @media (min-width: $sm) {
    max-width: 570px;
  }
  @media (min-width: $md) {
    @media (orientation: landscape) {
    }
    max-width: 750px;
  }
  @media (min-width: $lg) {
    max-width: 990px;
  }
  @media (min-width: $xl) {
    max-width: 1170px;
  }
}

._row {
  display: flex;
  flex-wrap: wrap;
}

._col {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;

  @for $i from 1 to 5 {
    &-#{$i*3} {
      @extend ._col;
      @include col($i*3);
    }
  }

  @for $i from 1 to 13 {
    &-sm-#{$i} {
      @extend ._col;
      @media (min-width: $sm) {
        @include col($i);
      }
    }

    &-md-#{$i}{
      @extend ._col;
      @media (min-width: $md) {
        @include col($i);
      }
    }

    &-lg-#{$i}{
      @extend ._col;
      @media (min-width: $lg) {
        @include col($i);
      }
    }

    &-xl-#{$i} {
      @extend ._col;
      @media (min-width: $xl) {
        @include col($i);
      }
    }
  }
}

._offset {
  margin-left: auto;
  @for $i from 0 to 6 {
    &-#{$i} {
      @extend ._offset;
      @include offset($i);
    }

    &-sm-#{$i} {
      @extend ._offset;
      @media (min-width: $sm) {
        @include offset($i);
      }
    }

    &-md-#{$i}{
      @extend ._offset;
      @media (min-width: $md) {
        @include offset($i);
      }
    }

    &-lg-#{$i}{
      @extend ._offset;
      @media (min-width: $lg) {
        @include offset($i);
      }
    }

    &-xl-#{$i} {
      @extend ._offset;
      @media (min-width: $xl) {
        @include offset($i);
      }
    }
  }
}

._ml {
  margin-right: auto;
  @for $i from 0 to 6 {
    &-#{$i} {
      @extend ._ml;
      @include ml($i);
    }

    &-sm-#{$i} {
      @extend ._ml;
      @media (min-width: $sm) {
        @include ml($i);
      }
    }

    &-md-#{$i}{
      @extend ._ml;
      @media (min-width: $md) {
        @include ml($i);
      }
    }

    &-lg-#{$i}{
      @extend ._ml;
      @media (min-width: $lg) {
        @include ml($i);
      }
    }

    &-xl-#{$i} {
      @extend ._ml;
      @media (min-width: $xl) {
        @include ml($i);
      }
    }
  }
}

._ptb-n {
  padding: 0 15px;
}

._p-n {
  padding: 0;
}