$default-font: sans-serif;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$background-color: #ffffff;
$s-background-color: #faf5f5;

$p-active-color: #e64741;

$p-text-color: #000000;
$s-text-color: #ffffff;