@use "../vars";

.top-menu {
  position: fixed;
  z-index: 100;
  min-width: 320px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  box-sizing: border-box;
  &__row {
    position: relative;
    min-height: 70px;
    flex-wrap: nowrap;
    align-items: center;
  }
  &__logo-box {
    padding: 0 15px;
    box-sizing: border-box;
  }
  &__logo {
    height: 50px;
  }
  &__checkbox,
  &__button {
    display: none;
  }
  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    align-items: center;
    list-style: none;
    background-color: #fff;
    box-sizing: border-box;
  }
  &__item {
    height: 100%;
  }
  &__link {
    display: flex;
    position: relative;
    height: 100%;
    padding: 15px;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    box-sizing: border-box;
  }
  &__nav {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
  }
  &__button-box {
    padding: 20px;
  }
  &__phone {
    padding: 15px;
    font-weight: 700;
    white-space: nowrap;
    box-sizing: border-box;
  }
}

@media (max-width: 991px) {
  .top-menu {
    &__space {
      flex-grow: 1;
    }
    &__button {
      display: block;
      position: relative;
      height: 70px;
      width: 70px;
      padding: 15px;
      order: 1;
      box-sizing: border-box;
      &._close {
        position: absolute;
        z-index: 102;
        top: 0;
        right: 0;
        opacity: 0;
        transform: translateX(320px);
        transition: all 0.3s ease-in-out;
      }
      &:hover,
      &:active {
        cursor: pointer;
      }
      &-icon {
        height: 100%;
        width: 100%;
        display: block;
        vertical-align: middle;
        position: relative;
        text-align: left;
        box-sizing: border-box;
        &:before,
        &:after {
          content: '';
          width: 24px;
          height: 3px;
          position: absolute;
          right: 8px;
          transform-origin: right;
          transition: all 0.3s ease-in-out;
        }
        &:before {
          top: 10px;
          transform-origin: top right;
          transform: rotate(0deg);
          box-shadow: inset 0 0 0 32px, 0 8px;
        }
        &:after {
          top: 26px;
          transform-origin: bottom right;
          transform: rotate(0deg);
          box-shadow: inset 0 0 0 32px;
        }
      }
    }
    &__checkbox:checked + &__button &__button-icon,
    &__button._close &__button-icon {
      &:before {
        transform: rotate(-45deg);
        box-shadow: inset 0 0 0 32px, 0 0;
      }
      &:after {
        transform: rotate(45deg);
      }
    }
    &__nav {
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      justify-content: flex-end;
      transform: translateY(-100%);
      transition: all 0s ease-in-out 0.3s;
    }
    &__background {
      width: 100%;
      background-color: rgba(15, 7, 42, 0.3);
      opacity: 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    &__list {
      position: absolute;
      z-index: 101;
      width: 100%;
      max-width: 320px;
      min-width: 320px;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 70px 0 20px;
      flex-direction: column;
      justify-content: flex-start;
      overflow-y: auto;
      transform: translateX(100%);
      transition: all 0.3s ease-in-out;
    }
    &__item {
      height: auto;
    }
    &__checkbox:checked ~ &__nav {
      transform: translateY(0);
      transition: all 0s ease-in-out;
    }
    &__checkbox:checked ~ &__nav &__background {
      opacity: 1;
    }
    &__checkbox:checked ~ &__nav &__list {
      transform: translateX(0);
    }
    &__checkbox:checked ~ &__nav &__user,
    &__checkbox:checked ~ &__nav &__button {
      opacity: 1;
      transform: translateX(0);
    }
    &__link {
      width: 100%;
    }
  }
}